# Указывает, что это корневой файл конфигурации
root = true

# Общие настройки для всех файлов
[*]
indent_style = space       # Использовать пробелы для отступов (или 'tab' для табуляции)
indent_size = 2            # Количество пробелов для отступов (замените на 4, если нужно)
tab_width = 2              # Ширина табуляции (для файлов с tab)
end_of_line = lf           # Конец строки (lf для Unix, crlf для Windows)
insert_final_newline = true  # Вставлять пустую строку в конце файла
trim_trailing_whitespace = true # Удалять лишние пробелы в конце строк

# Настройки для файлов JavaScript
[*.js]
indent_size = 2

# Настройки для файлов HTML
[*.html]
indent_size = 2
