.products {
  &__title {
    padding: 20px 40px;
    margin-top: 9px;
    margin-bottom: 33px;
    border-radius: 12px;
    background: linear-gradient(270deg, #E2DBF9 0%, #C9BCED 100%);
  }
}

.description {
  margin-top: 34px;
}
